# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environments
.venv/
venv/
**/__pycache__/
**/.venv/

# Environment & Secrets
.env
.env.*

# Logs
*.log

# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
[Dd]esktop.ini
.DS_Store
